<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.wordpress</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7580C61A-4CC4-4A7D-BFFB-CA4B4CF228EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>258682F2-0003-4657-8746-A9DC47B8E3A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92DC15D5-8797-465D-A7F6-8B8EC4DC194E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0136CF91-6EE3-47B0-9E02-CD4CD563C400</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A397EB32-ED14-40EA-8F79-2DE0C10A882A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2FD102C-44C9-431E-A214-3143181BF81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B959EE00-19F0-42F8-9E23-3843606D1A88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6F726CB-3DA3-49B2-A67E-156CE46C4091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CF0322D0-DDE8-4972-BD0C-5A58037B7677</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38727939-324D-472B-A5CD-2A730AE5631F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sendhil Panchadsaram</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WordPress Mobile Github Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wpgh open</string>
				<key>script</key>
				<string>ruby autocomplete.rb {query}</string>
				<key>title</key>
				<string>Open WordPress Mobile Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7580C61A-4CC4-4A7D-BFFB-CA4B4CF228EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby commands.rb --open-index {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>258682F2-0003-4657-8746-A9DC47B8E3A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby commands.rb --open-pr {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>B6F726CB-3DA3-49B2-A67E-156CE46C4091</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wpgh pr</string>
				<key>script</key>
				<string>ruby autocomplete.rb {query}</string>
				<key>title</key>
				<string>Open Pull Requests for WordPress Mobile Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B959EE00-19F0-42F8-9E23-3843606D1A88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wpgh issues</string>
				<key>script</key>
				<string>ruby autocomplete.rb {query}</string>
				<key>title</key>
				<string>Open Issues for WordPress Mobile Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>92DC15D5-8797-465D-A7F6-8B8EC4DC194E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby commands.rb --open-issues {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>0136CF91-6EE3-47B0-9E02-CD4CD563C400</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby commands.rb --search-issues {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>C2FD102C-44C9-431E-A214-3143181BF81E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wpgh search issues</string>
				<key>script</key>
				<string>ruby autocomplete.rb --search-term {query}</string>
				<key>title</key>
				<string>Search Issues for a WordPress Mobile Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A397EB32-ED14-40EA-8F79-2DE0C10A882A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby commands.rb --search-code {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>38727939-324D-472B-A5CD-2A730AE5631F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>wpgh search code</string>
				<key>script</key>
				<string>ruby autocomplete.rb --search-term {query}</string>
				<key>title</key>
				<string>Search Code for a WordPress Mobile Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CF0322D0-DDE8-4972-BD0C-5A58037B7677</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0136CF91-6EE3-47B0-9E02-CD4CD563C400</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>258682F2-0003-4657-8746-A9DC47B8E3A7</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>38727939-324D-472B-A5CD-2A730AE5631F</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>7580C61A-4CC4-4A7D-BFFB-CA4B4CF228EF</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>92DC15D5-8797-465D-A7F6-8B8EC4DC194E</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>A397EB32-ED14-40EA-8F79-2DE0C10A882A</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>B6F726CB-3DA3-49B2-A67E-156CE46C4091</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>B959EE00-19F0-42F8-9E23-3843606D1A88</key>
		<dict>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>C2FD102C-44C9-431E-A214-3143181BF81E</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>CF0322D0-DDE8-4972-BD0C-5A58037B7677</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>sendhil.info</string>
</dict>
</plist>
